@use "./variables" as variables;

.Button {
    &--primary {
        background-color: #04b1cb;
        color: black;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }
    &--secondary {
        background-color: #ccc;
        color: black;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }
    &--back {
        color: #f4f4f4;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 0.5rem;
        left: 5rem;
    }
    &--label {
        background-color: #7ed957;
        padding: 0.2rem 1rem;
        font-size: 0.7rem;
        line-height: 0.8rem;
        border: none;
        border-radius: 1rem;
    }
    &__page {
        background-color: transparent;
        position: absolute;
        border: none;
        color: white;
        top: calc(50% - 2rem);
        &--prev {
            left: -2rem;
        }
        &--next {
            right: -2rem;
        }
    }
}
