@use "styles" as styles;

.CharactersList {
    height: 100%;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input {
            width: 100%;
            padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 2rem 0 1rem 0;
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        a {
            width: calc(50% - 0.5rem);
            height: 3rem;
        }
    }
}