<section class="Character">
  <a class="Button--back" routerLink="/home">Return to past</a>
  <article>
    <h1>Is what you looking for?</h1>
    <div class="Character__card">
      <div class="Character__img">
        <img src="" alt="" />
      </div>
      <div class="Character__info">
        <h3>Rick Sanchez</h3>
        <button class="Button--label">Human</button>
        <p>Male</p>
        <p>Earth</p>
        <div class="Character__info--actions">
          <a class="Button--secondary">In another timeline</a>
          <a class="Button--primary">Say hello!</a>
        </div>
      </div>
    </div>
  </article>
</section>
