@use "styles" as styles;

.CharactersList {
    height: 100%;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        a {
            width: calc(50% - 0.5rem);
            height: 3rem;
        }
    }
}