<section class="Characters container">
  <a class="Button--back" routerLink="/">Return to past</a>
  <article>
    <input
      class="Characters--search"
      type="text"
      (keyup)="applyFilter($event)"
      placeholder="Search someone..."
    />
    
    <div class="Characters__list">
      <button class="Button__page Button__page--prev" (click)="prevPage()">prev</button>
      <app-character-card
        [character]="character"
        *ngFor="let character of characters"
      ></app-character-card>
      <button class="Button__page Button__page--next" (click)="nextPage()">next</button>
    </div>
  </article>
</section>
